@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'biko';
    src: url('./fonts/Biko_Bold.otf');
}

:root{
    --varela-font:"Varela", sans-serif;
    --raleway-font: "Raleway", sans-serif;
    --notesBGColor:#4B6179;
    --buttonBlue:#4eaffa;
    --formBGColor:#E3E8ED;
    --contentBGColor: #3A4F63;
    --headerBGColor:#1E2A38;
    --sidebarBGColor:#2A3C50;
    --selectedTabBGColor:#223041;
    --hoverTabBGColor:#36495f;
    --formButtonColor:#28c2a0;
}

body{
    background-color: #1E2A38;
}

*:not(dialog){
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    font-family: inherit;
}

.page{
    display: grid;
    grid-template-rows: 1fr 8fr;
    height: 100vh;
}

.main{
    display: grid;
    grid-template-columns: 1fr 3fr 1.3fr;
}

.header{
    background-color: var(--headerBGColor);
    font-family: 'biko';
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.sidebar{
    background-color: var(--sidebarBGColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    padding-top: 0;
    color: #DDE6ED;
    font-family: "Varela", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    gap: 30px;
    min-width: 300px;
}

.sidebar>div>div{
    padding: 0 0;
    height: 3.5rem;
}

.sidebar>div>div>*:first-child{
    margin-left: 10%;
}

.sidebar>div>div.selected{
    background-color: var(--selectedTabBGColor);
    font-weight: 600;
}

.sidebar>div>div:hover:not(.heading){
    background-color: var(--hoverTabBGColor);
    cursor: pointer;
}

.sidebar>div>div.selected:hover:not(.heading){
    background-color: var(--selectedTabBGColor);
    cursor: pointer;
    transition:  all 0.5s ease;
}

.organise{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.organise div{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.sidebar img{
    width: 2.2rem;
}

.lists{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.lists .heading{
    font-size: 2.5rem;
    border-bottom: 1px solid white;
    padding: 0 10%;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.lists>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    min-height: min-content;
}

.list .listTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 100%;
}

.list .deletelistbtn{
    margin-right: 5%;   
}

.list .deletelistbtn, .list .editlistbtn{
    display: none;
    opacity: 0;
    width: 1.9rem;
}

.list .editlistbtn{
    margin-left: auto;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.list:hover .deletelistbtn, .list:hover .editlistbtn{
    display: flex;
    animation: fadeIn 0.2s ease-in-out forwards;
}

.addlistbtn:hover{
    transform: scale(1.2);
}

.addlistbtn{
    cursor: pointer;
    transition: all 0.5s ease;
}

dialog{
    box-shadow: 0 0 20px rgb(30, 30, 30);
}

dialog[open]{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    background-color:var(--formBGColor);
    outline: none;
    border: none;
    font-family: var(--raleway-font);
    font-optical-sizing: auto;
    width: 20vw;
    min-width: 350px;
    animation: fadeIn 0.3s ease-in-out forwards;
}

dialog .cancelbtn{
    width: 20px;
    transition: all 0.2s ease;
    margin-left: auto;
}

dialog .cancelbtn:hover{
    cursor: pointer;
    transform: scale(1.3);
}

dialog .heading{
    display: flex;
    width: 100%;
}

dialog form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

dialog label{
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
}

dialog .titleinput,dialog .dateinput{
    padding: 0.35rem 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    outline: 1px solid #aaaaaa;
    border: none;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

dialog textarea{
    padding: 0.35rem 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    outline: 1px solid #aaaaaa;
    border: none;
    font-weight: 400;
    width: 100%;
    color: black;
}

dialog .prioritydiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

dialog .title:focus-visible, textarea:focus-visible{
    outline: 1px solid black;
    border: none;
}

dialog form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    width: 100%;
}

dialog textarea{
    width: 100%;
    resize: none;
}

dialog button{
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    font-style: normal;
    color: white;
    background-color: var(--formButtonColor);
    border: none;
    outline: none;
    transition: all 0.5s ease;
}

dialog button:hover{
    cursor: pointer;
}

.maindiv{
    background-color: var(--contentBGColor);
    padding: 1rem 1rem;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 480px;
    max-width: 60vw;
}

.tasks{
    width: 100%;
}

.addTaskbtn{
    display: flex;
    align-self: end;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.2rem;
}

.addTaskbtn:hover{
    background-color: var(--sidebarBGColor);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.addTaskbtn div{
    font-family: var(--varela-font);
    font-size: 1.3rem;
    color: white;
}

.addTaskbtn img{
    width: 2rem;
}

.maindiv .heading{
    display: flex;
    gap: 15px;
    align-items: center;
    color: white;
    font-family: var(--raleway-font);
    font-weight: 500;
    font-size: 2.7rem;
    max-width: 100%;
}

.maindiv .heading div{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.maindiv .heading img{
    width: 3.7rem;
}

hr{
    height: 2px;
    width: 100%;
    background-color: white;
    border: none;
    outline: none;
    margin-bottom: 5px;
}

.tasks{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tasks .task{
    min-width: 100%;
    min-height: 50px;
    border: 2px solid white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0.4rem 0.5rem;
    padding-right: 0.8rem;
    overflow: hidden;
    cursor: pointer;
    animation: fadeIn 0.3s ease-in-out forwards
}

.tasks .task.expand{
    transition: all 0.5s ease;
}

.task img{
    width: 2rem;
}

.task .primary, .task .desc{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    color: white;
}

.task .title{
    font-family: var(--varela-font);
    font-size: 1.5rem;
    color: white;
    margin-right: auto;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task .title.completed{
    text-decoration: line-through;
}

.task .desc{
    word-break: break-all;
}
.task .desc, .task .listname{
    font-family: var(--varela-font);
    font-size: 1.15rem;
    align-self: flex-start;
}

.task .listname{
    color: white;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task .priority, .edit{
    width: 1.7rem;
}
.task .date{
    color: white;
    font-family: var(--varela-font);
}

.task .less{
    transform: rotate(180deg);
}

@keyframes Scale {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}

.completion{
    animation: Scale 0.1s ease-in-out;
}

.priority{
    animation: Scale 0.1s ease-in-out;
}

.remove{
    transform: scale(0.8);
    transition: all 0.1s ease;
}

@keyframes fadeout {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.task.fadeOut, .list.fadeOut, .note.fadeOut{
    animation: fadeout 0.2s ease-in-out forwards;
}

.notes{
    background-color:  var(--notesBGColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    gap: 5px;
    min-width: 330px;
}

.notes .heading{
    display: flex;
    gap: 15px;
    font-family: var(--raleway-font);
    color: white;
    font-size: 2.7rem;
    font-weight: 500;
}

.notes .addnotebtn{
    font-family: var(--varela-font);
    font-size: 2rem;
    display: flex;
    align-self: end;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.2rem;
    padding-left:auto;
    font-family: var(--varela-font);
    font-size: 1.3rem;
    color: white;
}

.notes .addnotebtn:hover{
    background-color: var(--contentBGColor);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.notes .addnotebtn img{
    width: 2rem;
}

.notes .heading img{
    width: 3.7rem;
}

.notesDiv{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.note{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border: 2px solid white;
    border-radius: 16px;
    gap: 10px;
    max-width: 100%;
}

.note .noteTitle{
    font-size: 1.5rem;
}

.note .noteDesc{
    font-size: 1.15rem;
}

.note .noteTitle, .note .noteDesc{
    width: 100%;
    color: white;
    max-width: 100%;
    word-break: break-all;
    font-family: var(--varela-font);
}

.note .options{
    display: flex;
    gap: 5px;
    align-self: flex-end;
}

.options img{
    width: 2rem;
}

.options img:hover{
    cursor: pointer;
}

#deleteinvalid img{
    width: 2rem;
}
#deleteinvalid .heading{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#deleteinvalid .invalidDesc{
    font-size: 1.2rem;
}

.loading{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.footer{
    color: white;
    height: 2rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--varela-font);
}

.footer a{
    color: white; 
}

.footer img{
    width: 1.5rem;
}